<%= form_for(task) do |f|%>
  <% if task.errors.any? %>
    <% task.errors.full_messages.each do |message| %>
    <div id="error_explanation">
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
    </div>
  <% end %>
  
  <div>
    <%= f.label :title, 'タイトル'%>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :content, 'タスク'%>
    <%= f.text_field :content %>
  </div>
  
  <div>
    <%= f.label :status, 'ステータス'%>
    <%= f.text_field :status %>
  </div>
  
  <%= f.submit '投稿'%>
<% end %>